// COLORS
// $primary-color: #e04e39;  //orange
// $secondary-color: #9b2918;

// $primary-color: #1d976c;
// $secondary-color: #93f9b9; //mojito

// $primary-color: #34e89e;
// $secondary-color: #0f3443; //dreams

// $primary-color: #1d976c;
// $secondary-color: #79cf99;  //mojito but darker

$primary-color: #0f3443;
$secondary-color: #34e89e; //dreams reversed

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
